

body {
  display: flex;
  flex-direction: column;
  background-image: url("img/glados.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
}

html {
  background-color: black;
}

body div {
  text-align: center;
  width: 75%;
  /* border: 1px solid black; */
  margin: 0 auto;
  padding: 10px;
  color: white;
}

h1 {
  color: red;
  margin-left: 850px;
}

#Name-AI {
  height: 100px
}


#advanced{
  
}
